
@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);



.title{
  color: white;
}

.container th h1 {
    font-weight: bold;
    font-size: 1em;
  color: white;
}

.container {
    text-align: left;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
  display: table;
  padding: 0 0 8em 0;
}

.container td, .container th {
    padding-bottom: 2%;
    padding-top: 2%;
  padding-left:5%;  
  text-align: center;
}

.id {
   background-color: #185875;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
     -moz-box-shadow: 0 6px 6px -6px #0E1119;
          box-shadow: 0 6px 6px -6px #0E1119;
}


.btn-success 
{
  margin-left: 91%;
  margin-bottom: 3%;
}

i{
    color: black;
}
#k, #s {
	display: inline-block;
	vertical-align: top;
	text-align: justify;
}
.ajouter {
	background-color:#272c33; BORDER: none;cursor: pointer
}

.principTitle{
	text-align:center
}

.test
{
	margin-top: 150px;
}

.testin{
	color:#d81414cf; text-align:center
}