<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>tiu</display-name>
    <servlet>
		<servlet-name>GestionUtilisateur</servlet-name>
		<servlet-class>com.projet.servlet.GestionUtilisateur</servlet-class>
	</servlet>
	
  <servlet-mapping>
			<servlet-name>GestionUtilisateur</servlet-name>
			<url-pattern>/GestionUtilis</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ReservSql</servlet-name>
		<servlet-class>com.projet.servlet.ReservSql</servlet-class>
	</servlet>
	
  <servlet-mapping>
			<servlet-name>ReservSql</servlet-name>
			<url-pattern>/Reserv.sql</url-pattern>
	</servlet-mapping>
	
	 
	
	<servlet>
		<servlet-name>Connexion</servlet-name>
		<servlet-class>com.projet.servlet.Connexion</servlet-class>
	</servlet>
	
  <servlet-mapping>
			<servlet-name>Connexion</servlet-name>
			<url-pattern>/Connexions</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>GestionReserv</servlet-name>
		<servlet-class>com.projet.servlet.GestionReserv</servlet-class>
	</servlet>
	
  <servlet-mapping>
			<servlet-name>GestionReserv</servlet-name>
			<url-pattern>/Gestion.reserv</url-pattern>
	</servlet-mapping>
	
	
		<servlet>
	
	<servlet-name>AffichageVol</servlet-name>
		<servlet-class>com.projet.servlet.AffichageVol</servlet-class>
	</servlet>
	
  <servlet-mapping>
			<servlet-name>AffichageVol</servlet-name>
			<url-pattern>/Affichage.vol</url-pattern>
	</servlet-mapping>
	
		<servlet>
	
	<servlet-name>ReservationVol</servlet-name>
		<servlet-class>com.projet.servlet.ReservationVol</servlet-class>
	</servlet>
	
  <servlet-mapping>
			<servlet-name>ReservationVol</servlet-name>
			<url-pattern>/Reservation.vol</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DetailsVols</servlet-name>
		<servlet-class>com.projet.servlet.DetailsVols</servlet-class>
	</servlet>
	
  <servlet-mapping>
			<servlet-name>DetailsVols</servlet-name>
			<url-pattern>/details.vol</url-pattern>
	</servlet-mapping>
	
	<listener>
  <listener-class>com.projet.config.InitialisationDaoFactory</listener-class>
  </listener>
	
</web-app>